<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>

	<link rel="stylesheet" type="text/css" href="static/Menu.css">
</head>
<body>
	<header>

		<nav class="navegacion">
			<ul class="menu">
				<li><a class="link" href="#">Universidad EAFIT</a></li>
				<li><a href="#">:::::::::</a></li>
				<li><a href="#">Desarrollado por</a>
					<ul class="submenu">
						<li><a href="#">J.Gonzalo Q.</a></li>
						<li><a href="#">F. Agudelo Mejía</a></li>
						<li><a href="#">A. Díaz Cano</a></li>
					</ul>
				</li>

			</ul>
		</nav>
	</header>
</body>
</html>
